
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href='/' style="color:red"><b>CodersVape Cafe</b></a>
    </div>
    <ul class="nav navbar-nav">
      <!-- <li class="active"><a href='/'>Home</a></li> -->
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">CUSTOMERS <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href='/customers'>Show Customer</a></li>
          <li><a href='/customers/add'>Add Customer</a></li>
        </ul>
      </li>
      
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">ITEMS <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href='/items'>Show Item</a></li>
          <li><a href='/items/add'>Add Item</a></li>
        </ul>
      </li>
      
      <!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SALES <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href='/sales'>Show Sales</a></li>
          <li><a href='/sales/add'>Add Sales</a></li>
        </ul>
      </li> -->
      
      <!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">INVOICES <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href='/invoices'>Show Invoice</a></li>
          <li><a href='/invoices/add'>Add Invoice</a></li>
        </ul>
      </li> -->
      
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">TRANSACTIONS <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href='/transactions'>Show Transaction</a></li>
          <li><a href='/transactions/add'>Add Transaction</a></li>
        </ul>
      </li>
      
      <li class=""><a class="" data-toggle="" href="/reports">REPORTS </a>
        <!-- <ul class="dropdown-menu">
          <li><a href=''>Report by Date</a></li>
          <li><a href=''>Report by Month</a></li>
        </ul> -->
      </li>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <li><a href="#"> </a>
      <!-- <li><a href='/logout'>Logout </a> -->
    </ul>
  </div>
</nav>